@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

}

@font-face {
    font-family: 'avarablack';
    src: url('fonts/avara-black-webfont.woff2') format('woff2'),
        url('fonts/avara-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'avarabold';
    src: url('fonts/avara-bold-webfont.woff2') format('woff2'),
        url('fonts/avara-bold-webfont.woff') format('woff');
    font-weight: 2;
    font-style: normal;

}

@font-face {
    font-family: 'avarabold_italic';
    src: url('fonts/avara-bolditalic-webfont.woff2') format('woff2'),
        url('fonts/avara-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lobster';
    src: url('fonts/LobsterTwo-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'calistoga';
    src: url('fonts/Calistoga-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family :'roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
}

.parent:hover .parent-hover\:fill-purple-800 {
    fill:rgba(166, 81, 166, 0.888);
}

.parent:hover .parent-hover\:fill-red-400 {
    fill:rgba(246, 89, 5, 0.888);
}

.selector {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}